#my-adsFPAD-base .Mx-a>div{margin-top:8px;margin-bottom:8px}#MasterWrap #my-adsFPAD-base .Mx-a>div,#MasterWrap #my-adsLREC{margin-top:0}#applet_sidekicktv .js-stv-title{margin-bottom:4px}.hpspon-active:not(.Reader-open) #mega-uh-wrapper{box-shadow:0 0 10px 0 rgba(0,0,0,.40)}.hpspon-active #Masterwrap .page{border:0;border-bottom:0;border-radius:8px 8px 0 0;box-shadow:0 0 rgba(0,0,0,.3),0 0 rgba(0,0,0,.3),0 0 8px rgba(0,0,0,.3),0 0 8px rgba(0,0,0,.3);padding-left:30px;padding-top:15px}.hpspon-active #Masterwrap #feat-bar{padding-right:30px}.hpspon-active #Masterwrap #feat-bar .feature-bar{margin-top:15px;margin-bottom:0;min-width:auto}.hpspon-active #Masterwrap .Col2{box-shadow:0 -8px #fff,0 6px #fff,0 0 8px rgba(0,0,0,.3),0 0 8px rgba(0,0,0,.3);border-bottom:0;width:100%;left:0;padding-left:30px;padding-right:380px;padding-top:15px}.hpspon-active #Masterwrap .Col3{border-top:0;width:300px;padding-right:30px;padding-top:15px;right:0}.hpspon-active #Masterwrap .page,.hpspon-active #Masterwrap .Col2,.hpspon-active #Masterwrap .Col3{background-color:#fff}@media(max-width:1100px){.hpspon-active .Col3{top:initial}#atomic.hpspon-active .feat-bar .Maw\(740px\){max-width:600px}}@media screen and (max-width:1024px){.hpspon-active #Masterwrap{padding:0}}.hpspon-active.Reader-open:not(.mini-header) #mega-uh-wrapper{transform:translate(0,0)}.hpspon-active:not(.Reader-open).mini-header body{padding-top:91px}.hpspon-active:not(.Reader-open):not(.mini-header) body{padding-top:126px}.hpspon-active:not(.Reader-open):not(.mini-header).hpspon-active.uh-banner-wide body{padding-top:198px}/* Copyright (c) 2018, Yahoo! Inc.  All rights reserved. */

/*
     FILE ARCHIVED ON 23:43:34 Oct 31, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:27:03 Dec 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 131.952
  exclusion.robots: 0.08
  exclusion.robots.policy: 0.071
  cdx.remote: 0.059
  esindex: 0.009
  LoadShardBlock: 91.76 (3)
  PetaboxLoader3.datanode: 87.77 (5)
  load_resource: 346.588 (2)
  PetaboxLoader3.resolve: 281.786 (2)
*/