#octane-aui-example-id{color:red}
/*
     FILE ARCHIVED ON 00:17:49 Mar 01, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:12:50 Dec 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 292.677
  exclusion.robots: 0.072
  exclusion.robots.policy: 0.062
  cdx.remote: 0.06
  esindex: 0.01
  LoadShardBlock: 157.86 (3)
  PetaboxLoader3.resolve: 229.539 (5)
  PetaboxLoader3.datanode: 69.653 (5)
  load_resource: 163.959 (2)
*/