.gw-ftGr-desktop-hero .gw-hero-image .cropped-image-map-size img,.gw-ftGr-desktop-hero .image-map .cropped-image-map-size img{height:300px!important;width:1500px!important}#gw-desktop-herotator .gw-hero-image .cropped-image-map-size,#gw-desktop-herotator .image-map .cropped-image-map-size{height:300px!important;width:100%!important}#gw-desktop-herotator{position:relative}.a-lt-ie9 .gw-ftGr-desktop-hero span{width:1500px}#gw-desktop-herotator ol.a-carousel{position:relative}
/*
     FILE ARCHIVED ON 00:15:52 Mar 01, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:12:49 Dec 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 463.123
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.06
  cdx.remote: 0.058
  esindex: 0.01
  LoadShardBlock: 61.71 (3)
  PetaboxLoader3.datanode: 206.595 (4)
  load_resource: 227.262
  PetaboxLoader3.resolve: 75.457
*/