.expando .nestedlisting{margin-top:10px}.expando .nestedlisting .midcol,.expando .nestedlisting .flat-list,.expando .nestedlisting .comment .child,.expando .nestedlisting .morecomments{display:none!important}.expando .nestedlisting .usertext-body .md{border-width:0!important;background-color:transparent!important;padding:5px 0!important}.expando .nestedlisting .comment{margin-left:0!important}.expando .nestedlisting .comment:nth-of-type(1n+7){display:none}.expando .nestedlisting #noresults{margin-right:2em}
/*
     FILE ARCHIVED ON 00:01:34 Feb 01, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:23:51 Feb 19, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.098
  exclusion.robots.policy: 0.085
  cdx.remote: 0.11
  esindex: 0.013
  LoadShardBlock: 549.144 (6)
  PetaboxLoader3.resolve: 236.657 (3)
  PetaboxLoader3.datanode: 246.0 (8)
  load_resource: 411.098 (2)
*/