.gw-ftGr-desktop-hero .gw-hero-image .cropped-image-map-size img,.gw-ftGr-desktop-hero .image-map .cropped-image-map-size img{height:300px!important;width:1500px!important}#gw-desktop-herotator .gw-hero-image .cropped-image-map-size,#gw-desktop-herotator .image-map .cropped-image-map-size{height:300px!important;width:100%!important}#gw-desktop-herotator{position:relative}.a-lt-ie9 .gw-ftGr-desktop-hero span{width:1500px}#gw-desktop-herotator ol.a-carousel{position:relative}
/*
     FILE ARCHIVED ON 22:03:37 Jul 31, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:36:41 Dec 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 105.21
  exclusion.robots: 0.061
  exclusion.robots.policy: 0.053
  cdx.remote: 0.045
  esindex: 0.008
  LoadShardBlock: 68.465 (3)
  PetaboxLoader3.datanode: 129.951 (5)
  load_resource: 282.645 (2)
  PetaboxLoader3.resolve: 184.501 (2)
*/