#octane-aui-example-id{color:red}
/*
     FILE ARCHIVED ON 00:04:18 Apr 01, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:14:46 Dec 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 258.938
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.06
  cdx.remote: 0.055
  esindex: 0.007
  LoadShardBlock: 121.456 (3)
  PetaboxLoader3.datanode: 134.532 (5)
  load_resource: 124.077 (2)
  PetaboxLoader3.resolve: 74.753 (2)
*/