.shopping-product:hover .shopping-caption-container{width:155px!important}.shopping-product:hover .shopping-caption{opacity:1!important}@media (max-width:1190px){.shopping-product:hover .shopping-caption-container{width:125px!important}}
/*
     FILE ARCHIVED ON 00:49:53 Aug 01, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:50:59 Jan 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.098
  exclusion.robots.policy: 0.088
  cdx.remote: 0.09
  esindex: 0.01
  LoadShardBlock: 817.904 (6)
  PetaboxLoader3.datanode: 735.031 (8)
  load_resource: 337.688 (2)
  PetaboxLoader3.resolve: 196.042 (2)
*/