.gw-ftGr-desktop-hero .gw-hero-image .cropped-image-map-size img,.gw-ftGr-desktop-hero .image-map .cropped-image-map-size img{height:300px!important;width:1500px!important}#gw-desktop-herotator .gw-hero-image .cropped-image-map-size,#gw-desktop-herotator .image-map .cropped-image-map-size{height:300px!important;width:100%!important}#gw-desktop-herotator{position:relative}#gw-desktop-herotator-controls{position:absolute;height:0;bottom:0;width:100%}#gw-desktop-herotator-controls ol{margin:0 auto;padding:0;position:relative;bottom:24px}#gw-desktop-herotator-controls ol li{list-style:none;display:none}.gw-desktop-herotator-ready #gw-desktop-herotator-controls ol li{display:block;float:left;padding:0 5px}.gw-desktop-herotator-ready #gw-desktop-herotator-controls ol li a{display:block;width:12px;height:13px;background-position:-19px -46px;background-repeat:no-repeat}#a-page .gw-desktop-herotator-ready #gw-desktop-herotator-controls ol li a:hover,.gw-desktop-herotator-ready #gw-desktop-herotator-controls ol li a.active{background-position:-32px -46px}#gw-desktop-herotator-controls .gw-text{position:absolute;top:-10000px;left:-10000px}.a-lt-ie9 .gw-ftGr-desktop-hero span{width:1500px}
/*
     FILE ARCHIVED ON 01:40:15 Jan 01, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:38:51 Dec 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 127.698
  exclusion.robots: 0.083
  exclusion.robots.policy: 0.073
  cdx.remote: 0.066
  esindex: 0.01
  LoadShardBlock: 49.466 (3)
  PetaboxLoader3.datanode: 87.545 (5)
  load_resource: 541.236 (2)
  PetaboxLoader3.resolve: 425.095 (2)
*/