.mgmt-publisher-count{display:inline}[providerbrands-currentblocked=""],[providerbrands-currentblocked="0"]{display:none}
/*
     FILE ARCHIVED ON 22:34:30 Nov 30, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:00:54 Jan 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.057
  cdx.remote: 0.091
  esindex: 0.01
  LoadShardBlock: 282.292 (6)
  PetaboxLoader3.datanode: 302.181 (8)
  load_resource: 352.556 (2)
  PetaboxLoader3.resolve: 210.636 (2)
*/