.ybar-dark #ybar-inner-wrap{background-image:linear-gradient(to top right,#7282fb,#755bf9,#7934f7);background-color:#7934f7}.ybar-light #ybar-inner-wrap{background-color:#fff}
/*
     FILE ARCHIVED ON 23:04:28 Nov 30, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:01:04 Jan 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.091
  exclusion.robots.policy: 0.078
  cdx.remote: 0.12
  esindex: 0.011
  LoadShardBlock: 97.325 (6)
  PetaboxLoader3.datanode: 66.427 (7)
  PetaboxLoader3.resolve: 69.295 (2)
  load_resource: 80.144
*/