.shopping-product:hover .shopping-caption-container{width:155px!important}.shopping-product:hover .shopping-caption{opacity:1!important}@media (max-width:1190px){.shopping-product:hover .shopping-caption-container{width:125px!important}}
/*
     FILE ARCHIVED ON 00:57:49 Jul 01, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:50:58 Jan 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.079
  exclusion.robots.policy: 0.067
  cdx.remote: 0.104
  esindex: 0.012
  LoadShardBlock: 115.064 (6)
  PetaboxLoader3.datanode: 247.865 (8)
  load_resource: 404.741 (2)
  PetaboxLoader3.resolve: 194.902 (2)
*/