@supports (-webkit-filter:blur(30px)) or (filter:blur(30px)){.ntk-img-crop{background-position:right center;display:block!important;-webkit-filter:blur(30px);filter:blur(30px);opacity:.6;transform:scale(1.5) scaleX(-1)}}.ntk-link:before{position:absolute;background:#464e56;left:60%;top:0;bottom:0;right:0;content:' ';z-index:1;margin-left:5px;border-radius:0 2px 2px 0}.webkit-alias{-webkit-font-smoothing:antialiased}.wafer-video-cover>.wafer-yvideo{position:absolute;top:0;bottom:0;left:0;right:0}
/*
     FILE ARCHIVED ON 04:58:57 May 01, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:14:35 Dec 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 258.167
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.062
  cdx.remote: 0.061
  esindex: 0.011
  LoadShardBlock: 63.702 (3)
  PetaboxLoader3.datanode: 117.796 (5)
  load_resource: 818.41 (2)
  PetaboxLoader3.resolve: 727.946 (2)
*/