.ybar-dark #ybar-inner-wrap{background-image:linear-gradient(to top right,#7282fb,#755bf9,#7934f7);background-color:#7934f7}.ybar-light #ybar-inner-wrap{background-color:#fff}
/*
     FILE ARCHIVED ON 23:44:51 Nov 30, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:20:24 Dec 14, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 397.052
  exclusion.robots: 0.147
  exclusion.robots.policy: 0.129
  cdx.remote: 0.108
  esindex: 0.018
  LoadShardBlock: 46.311 (3)
  PetaboxLoader3.datanode: 42.334 (4)
  load_resource: 78.852
  PetaboxLoader3.resolve: 46.145
*/