.source-url{opacity:0.5;font-size:smaller}.listing-page .expando .nestedlisting{margin-top:10px}.listing-page .expando .nestedlisting .midcol,.listing-page .expando .nestedlisting .flat-list,.listing-page .expando .nestedlisting .comment .child,.listing-page .expando .nestedlisting .morecomments{display:none!important}.listing-page .expando .nestedlisting .usertext-body .md{border-width:0!important;background-color:transparent!important;padding:5px 0!important}.listing-page .expando .nestedlisting .comment{margin-left:0!important}.listing-page .expando .nestedlisting .comment:nth-of-type(1n+7){display:none}
/*
     FILE ARCHIVED ON 00:16:27 Nov 01, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:29:48 Jan 25, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.092
  exclusion.robots.policy: 0.079
  cdx.remote: 0.149
  esindex: 0.015
  LoadShardBlock: 273.142 (6)
  PetaboxLoader3.resolve: 170.645 (4)
  PetaboxLoader3.datanode: 171.715 (8)
  load_resource: 175.778 (2)
*/