.ybar-dark #ybar-inner-wrap{background-image:linear-gradient(to top right,#7282fb,#755bf9,#7934f7);background-color:#7934f7}.ybar-light #ybar-inner-wrap{background-color:#fff}
/*
     FILE ARCHIVED ON 00:49:04 Oct 01, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:52:25 Dec 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 535.219
  exclusion.robots: 0.081
  exclusion.robots.policy: 0.071
  cdx.remote: 0.06
  esindex: 0.01
  LoadShardBlock: 56.951 (3)
  PetaboxLoader3.datanode: 73.015 (5)
  load_resource: 198.618 (2)
  PetaboxLoader3.resolve: 115.374 (2)
*/