.grid-layout.stream-items{-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column}.grid-layout.stream-grid-view.stream-items{-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row;flex-wrap:wrap}.grid-layout .stream-realted-list,.grid-layout.stream-items{display:-webkit-box;display:flex}.grid-layout.stream-items .stream-ad:hover::after,.grid-layout.stream-items .stream-item:not(.show-drawer):hover::after{opacity:1}
/*
     FILE ARCHIVED ON 00:48:53 Oct 01, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:51:44 Dec 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 92.703
  exclusion.robots: 0.062
  exclusion.robots.policy: 0.055
  cdx.remote: 0.052
  esindex: 0.009
  LoadShardBlock: 46.429 (3)
  PetaboxLoader3.datanode: 69.579 (5)
  load_resource: 177.952 (2)
  PetaboxLoader3.resolve: 151.506 (2)
*/