#octane-aui-example-id{color:red}
/*
     FILE ARCHIVED ON 00:21:10 May 01, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:14:51 Dec 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 216.208
  exclusion.robots: 0.085
  exclusion.robots.policy: 0.074
  cdx.remote: 0.066
  esindex: 0.01
  LoadShardBlock: 75.749 (3)
  PetaboxLoader3.datanode: 90.428 (4)
  load_resource: 152.658
  PetaboxLoader3.resolve: 96.053
*/