.ybar-dark #ybar-inner-wrap{background-image:linear-gradient(to top right,#7282fb,#755bf9,#7934f7);background-color:#7934f7}.ybar-light #ybar-inner-wrap{background-color:#fff}
/*
     FILE ARCHIVED ON 23:49:57 Mar 31, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:48:25 Jan 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.104
  exclusion.robots.policy: 0.09
  cdx.remote: 0.125
  esindex: 0.013
  LoadShardBlock: 345.744 (6)
  PetaboxLoader3.datanode: 162.634 (9)
  load_resource: 247.224 (2)
  PetaboxLoader3.resolve: 154.649 (2)
  loaddict: 49.161
*/