.ybar-dark #ybar-inner-wrap{background-image:linear-gradient(to top right,#7282fb,#755bf9,#7934f7);background-color:#7934f7}.ybar-light #ybar-inner-wrap{background-color:#fff}
/*
     FILE ARCHIVED ON 00:05:53 Feb 01, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:48:02 Jan 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.137
  exclusion.robots.policy: 0.125
  cdx.remote: 0.142
  esindex: 0.01
  LoadShardBlock: 515.39 (6)
  PetaboxLoader3.datanode: 254.818 (8)
  load_resource: 245.671 (2)
  PetaboxLoader3.resolve: 130.942 (2)
*/