.gw-ftGr-desktop-hero .gw-hero-image .cropped-image-map-size img,.gw-ftGr-desktop-hero .image-map .cropped-image-map-size img{height:300px!important;width:1500px!important}#gw-desktop-herotator .gw-hero-image .cropped-image-map-size,#gw-desktop-herotator .image-map .cropped-image-map-size{height:300px!important;width:100%!important}#gw-desktop-herotator{position:relative}.a-lt-ie9 .gw-ftGr-desktop-hero span{width:1500px}#gw-desktop-herotator ol.a-carousel{position:relative}
/*
     FILE ARCHIVED ON 23:50:43 Mar 31, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:34:59 Dec 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 305.501
  exclusion.robots: 0.066
  exclusion.robots.policy: 0.059
  cdx.remote: 0.053
  esindex: 0.008
  LoadShardBlock: 127.683 (3)
  PetaboxLoader3.resolve: 123.081 (3)
  PetaboxLoader3.datanode: 96.7 (5)
  load_resource: 140.863 (2)
*/