.shopping-product:hover .shopping-caption-container{width:155px!important}.shopping-product:hover .shopping-caption{opacity:1!important}@media (max-width:1190px){.shopping-product:hover .shopping-caption-container{width:125px!important}}
/*
     FILE ARCHIVED ON 00:11:48 Jan 01, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:02:41 Jan 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.12
  exclusion.robots.policy: 0.108
  cdx.remote: 0.15
  esindex: 0.017
  LoadShardBlock: 262.103 (6)
  PetaboxLoader3.datanode: 243.272 (7)
  PetaboxLoader3.resolve: 91.988 (2)
  load_resource: 135.823
*/