.mgmt-publisher-count{display:inline}[providerbrands-currentblocked=""],[providerbrands-currentblocked="0"]{display:none}
/*
     FILE ARCHIVED ON 00:11:45 Jan 01, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:00:59 Jan 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.067
  exclusion.robots.policy: 0.057
  cdx.remote: 0.091
  esindex: 0.008
  LoadShardBlock: 123.349 (6)
  PetaboxLoader3.datanode: 133.567 (7)
  load_resource: 85.214
  PetaboxLoader3.resolve: 40.388
*/