.gw-ftGr-desktop-hero .gw-hero-image .cropped-image-map-size img,.gw-ftGr-desktop-hero .image-map .cropped-image-map-size img{height:300px!important;width:1500px!important}#gw-desktop-herotator .gw-hero-image .cropped-image-map-size,#gw-desktop-herotator .image-map .cropped-image-map-size{height:300px!important;width:100%!important}#gw-desktop-herotator{position:relative}.a-lt-ie9 .gw-ftGr-desktop-hero span{width:1500px}#gw-desktop-herotator ol.a-carousel{position:relative}
/*
     FILE ARCHIVED ON 00:46:58 Aug 01, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:35:16 Dec 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 203.025
  exclusion.robots: 0.077
  exclusion.robots.policy: 0.067
  cdx.remote: 0.065
  esindex: 0.01
  LoadShardBlock: 42.751 (3)
  PetaboxLoader3.datanode: 93.239 (5)
  load_resource: 128.071 (2)
  PetaboxLoader3.resolve: 49.11 (2)
*/