#octane-aui-example-id{color:red}
/*
     FILE ARCHIVED ON 00:43:01 Feb 01, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:14:38 Dec 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 281.243
  exclusion.robots: 0.105
  exclusion.robots.policy: 0.094
  cdx.remote: 0.067
  esindex: 0.04
  LoadShardBlock: 142.29 (3)
  PetaboxLoader3.datanode: 147.456 (5)
  load_resource: 107.843 (2)
  PetaboxLoader3.resolve: 58.143 (2)
*/