.gw-ftGr-desktop-hero .gw-hero-image .cropped-image-map-size img,.gw-ftGr-desktop-hero .image-map .cropped-image-map-size img{height:300px!important;width:1500px!important}#gw-desktop-herotator .gw-hero-image .cropped-image-map-size,#gw-desktop-herotator .image-map .cropped-image-map-size{height:300px!important;width:100%!important}#gw-desktop-herotator{position:relative}.a-lt-ie9 .gw-ftGr-desktop-hero span{width:1500px}#gw-desktop-herotator ol.a-carousel{position:relative}
/*
     FILE ARCHIVED ON 00:10:08 Nov 01, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:35:24 Dec 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 291.932
  exclusion.robots: 0.175
  exclusion.robots.policy: 0.159
  cdx.remote: 0.093
  esindex: 0.012
  LoadShardBlock: 136.995 (3)
  PetaboxLoader3.resolve: 137.911 (4)
  PetaboxLoader3.datanode: 39.665 (4)
  load_resource: 60.105
*/