.gw-ftGr-desktop-hero .gw-hero-image .cropped-image-map-size img,.gw-ftGr-desktop-hero .image-map .cropped-image-map-size img{height:300px!important;width:1500px!important}#gw-desktop-herotator .gw-hero-image .cropped-image-map-size,#gw-desktop-herotator .image-map .cropped-image-map-size{height:300px!important;width:100%!important}#gw-desktop-herotator{position:relative}.a-lt-ie9 .gw-ftGr-desktop-hero span{width:1500px}#gw-desktop-herotator ol.a-carousel{position:relative}
/*
     FILE ARCHIVED ON 23:31:11 May 31, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:15:03 Dec 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 178.468
  exclusion.robots: 0.084
  exclusion.robots.policy: 0.072
  cdx.remote: 0.062
  esindex: 0.01
  LoadShardBlock: 61.859 (3)
  PetaboxLoader3.datanode: 59.22 (5)
  load_resource: 119.708 (2)
  PetaboxLoader3.resolve: 69.673 (2)
*/