.expando .nestedlisting{margin-top:10px}.expando .nestedlisting .midcol,.expando .nestedlisting .flat-list,.expando .nestedlisting .comment .child,.expando .nestedlisting .morecomments{display:none!important}.expando .nestedlisting .usertext-body .md{border-width:0!important;background-color:transparent!important;padding:5px 0!important}.expando .nestedlisting .comment{margin-left:0!important}.expando .nestedlisting .comment:nth-of-type(1n+7){display:none}.expando .nestedlisting #noresults{margin-right:2em}
/*
     FILE ARCHIVED ON 00:29:23 Apr 01, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:23:53 Feb 19, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.096
  exclusion.robots.policy: 0.084
  cdx.remote: 0.16
  esindex: 0.019
  LoadShardBlock: 390.19 (6)
  PetaboxLoader3.datanode: 234.119 (8)
  load_resource: 258.648 (2)
  PetaboxLoader3.resolve: 148.102 (2)
*/