#octane-aui-example-id{color:red}
/*
     FILE ARCHIVED ON 00:16:01 Jan 01, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:19:40 Dec 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 139.848
  exclusion.robots: 0.064
  exclusion.robots.policy: 0.055
  cdx.remote: 0.055
  esindex: 0.009
  LoadShardBlock: 31.331 (3)
  PetaboxLoader3.datanode: 75.942 (5)
  load_resource: 401.469 (2)
  PetaboxLoader3.resolve: 278.471 (2)
*/