.gw-ftGr-desktop-hero .gw-hero-image .cropped-image-map-size img,.gw-ftGr-desktop-hero .image-map .cropped-image-map-size img{height:300px!important;width:1500px!important}#gw-desktop-herotator .gw-hero-image .cropped-image-map-size,#gw-desktop-herotator .image-map .cropped-image-map-size{height:300px!important;width:100%!important}#gw-desktop-herotator{position:relative}.a-lt-ie9 .gw-ftGr-desktop-hero span{width:1500px}#gw-desktop-herotator ol.a-carousel{position:relative}
/*
     FILE ARCHIVED ON 23:43:33 Dec 31, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:19:39 Dec 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 335.301
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.058
  cdx.remote: 0.055
  esindex: 0.009
  LoadShardBlock: 199.937 (3)
  PetaboxLoader3.datanode: 246.347 (5)
  load_resource: 143.768 (2)
  PetaboxLoader3.resolve: 83.404 (2)
*/