@supports ((-webkit-filter:blur(30px)) or (filter:blur(30px))){.ntk-img-crop{background-position:right center;display:block!important;-webkit-filter:blur(30px);filter:blur(30px);opacity:.6;-webkit-transform:scale(1.5) scaleX(-1);transform:scale(1.5) scaleX(-1)}}.ntk-link:before{position:absolute;background:#464e56;left:60%;top:0;bottom:0;right:0;content:' ';z-index:1;margin-left:5px;border-radius:0 2px 2px 0;-webkit-border-radius:0 2px 2px 0;-moz-border-radius:0 2px 2px 0;-ms-border-radius:0 2px 2px 0;-o-border-radius:0 2px 2px 0}.webkit-alias{-webkit-font-smoothing:antialiased}
/*
     FILE ARCHIVED ON 00:28:51 Apr 01, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:52:10 Dec 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 147.283
  exclusion.robots: 0.065
  exclusion.robots.policy: 0.057
  cdx.remote: 0.053
  esindex: 0.01
  LoadShardBlock: 45.906 (3)
  PetaboxLoader3.datanode: 65.29 (4)
  load_resource: 62.056
  PetaboxLoader3.resolve: 32.25
*/