.ybar-dark #ybar-inner-wrap{background-image:linear-gradient(to top right,#7282fb,#755bf9,#7934f7);background-color:#7934f7}.ybar-light #ybar-inner-wrap{background-color:#fff}
/*
     FILE ARCHIVED ON 00:45:40 Jul 01, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:33:03 Dec 14, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 651.182
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.058
  cdx.remote: 0.053
  esindex: 0.008
  LoadShardBlock: 109.418 (3)
  PetaboxLoader3.datanode: 117.545 (5)
  load_resource: 371.721 (2)
  PetaboxLoader3.resolve: 275.087 (2)
*/