.expando-button{float:left;height:23px;width:23px;margin:2px 5px 2px 0;background:transparent none no-repeat scroll center center;cursor:pointer}.expando-button.expanded.video{background-image:url(/web/20161001001457im_/https://www.redditstatic.com/sprite-expando.B29xy2bWnls.png);background-position:0px -29px;background-repeat:no-repeat}.expando-button.expanded.video:hover{background-image:url(/web/20161001001457im_/https://www.redditstatic.com/sprite-expando.B29xy2bWnls.png);background-position:0px 0px;background-repeat:no-repeat}.expando-button.expanded.selftext{background-image:url(/web/20161001001457im_/https://www.redditstatic.com/sprite-expando.B29xy2bWnls.png);background-position:0px -29px;background-repeat:no-repeat}.expando-button.expanded.selftext:hover{background-image:url(/web/20161001001457im_/https://www.redditstatic.com/sprite-expando.B29xy2bWnls.png);background-position:0px 0px;background-repeat:no-repeat}.expando-button.collapsed.selftext{background-image:url(/web/20161001001457im_/https://www.redditstatic.com/sprite-expando.B29xy2bWnls.png);background-position:0px -145px;background-repeat:no-repeat}.expando-button.collapsed.selftext:hover{background-image:url(/web/20161001001457im_/https://www.redditstatic.com/sprite-expando.B29xy2bWnls.png);background-position:0px -116px;background-repeat:no-repeat}.expando-button.collapsed.video{background-image:url(/web/20161001001457im_/https://www.redditstatic.com/sprite-expando.B29xy2bWnls.png);background-position:0px -87px;background-repeat:no-repeat}.expando-button.collapsed.video:hover{background-image:url(/web/20161001001457im_/https://www.redditstatic.com/sprite-expando.B29xy2bWnls.png);background-position:0px -58px;background-repeat:no-repeat}
/*
     FILE ARCHIVED ON 00:14:57 Oct 01, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:29:43 Jan 25, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.063
  exclusion.robots.policy: 0.055
  cdx.remote: 0.085
  esindex: 0.008
  LoadShardBlock: 207.828 (6)
  PetaboxLoader3.datanode: 198.898 (8)
  load_resource: 253.87 (2)
  PetaboxLoader3.resolve: 160.93 (2)
*/