.ybar-dark #ybar-inner-wrap{background-image:linear-gradient(to top right,#7282fb,#755bf9,#7934f7);background-color:#7934f7}.ybar-light #ybar-inner-wrap{background-color:#fff}
/*
     FILE ARCHIVED ON 00:18:15 Jun 01, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:50:52 Jan 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.077
  exclusion.robots.policy: 0.066
  cdx.remote: 0.103
  esindex: 0.01
  LoadShardBlock: 116.787 (6)
  PetaboxLoader3.datanode: 163.341 (8)
  load_resource: 263.884 (2)
  PetaboxLoader3.resolve: 110.912 (2)
*/