@supports ((-webkit-filter:blur(15px)) or (filter:blur(15px))){.ntk-img-crop{background-position:right center;display:block!important;-webkit-filter:blur(15px);filter:blur(15px);opacity:.24;-webkit-transform:scale(1.5) scaleX(-1);transform:scale(1.5) scaleX(-1)}}.ntk-link:before{position:absolute;background:var(--white);left:59.6%;top:0;bottom:0;right:0;content:' ';z-index:1}.ntk-lead-tile .ntk-link:before{left:49.5%;background-color:transparent}.webkit-alias{-webkit-font-smoothing:antialiased}.grid-layout.ntk-item:after{content:'';position:absolute;z-index:-1;opacity:0;border-radius:12px;-webkit-box-shadow:0 10px 10px 0 rgba(29,34,40,.1);box-shadow:0 10px 10px 0 rgba(29,34,40,.1);-webkit-transition:opacity .3s ease;transition:opacity .3s ease;top:0;bottom:0;left:0;right:20px}.grid-layout.ntk-item:hover::after{opacity:1}
/*
     FILE ARCHIVED ON 00:25:49 Sep 01, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:00:39 Jan 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.06
  exclusion.robots.policy: 0.052
  cdx.remote: 0.108
  esindex: 0.009
  LoadShardBlock: 151.845 (6)
  PetaboxLoader3.datanode: 134.396 (9)
  load_resource: 144.893 (2)
  PetaboxLoader3.resolve: 72.89 (2)
  loaddict: 31.938
*/