.expando .nestedlisting{margin-top:10px}.expando .nestedlisting .midcol,.expando .nestedlisting .flat-list,.expando .nestedlisting .comment .child,.expando .nestedlisting .morecomments{display:none!important}.expando .nestedlisting .usertext-body .md{border-width:0!important;background-color:transparent!important;padding:5px 0!important}.expando .nestedlisting .comment{margin-left:0!important}.expando .nestedlisting .comment:nth-of-type(1n+7){display:none}
/*
     FILE ARCHIVED ON 00:02:10 Dec 01, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:29:47 Jan 25, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.097
  exclusion.robots.policy: 0.085
  cdx.remote: 0.131
  esindex: 0.011
  LoadShardBlock: 229.944 (6)
  PetaboxLoader3.datanode: 267.286 (8)
  load_resource: 193.946 (2)
  PetaboxLoader3.resolve: 63.89 (2)
*/